@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

body {
  font-family: "Nunito", sans-serif;
  margin: 2em;
  background-color: #e9edc9;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
